@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@/assets/fonts/proxima-nova/fonts.css';

html {
  font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* custom */
#__nuxt,
#__layout,
.layout {
  min-height: 100%;
  min-height: 100vh;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-xl md:text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-base;
}

h6 {
  @apply text-sm;
}

.lead {
  @apply text-base;
}

table {
  @apply min-w-full divide-y divide-gray-200 border-b border-gray-200;
}

thead > tr {
  @apply border-b border-t border-gray-200;
}

th {
  @apply py-3 text-left text-base font-medium text-gray-800;
}

tr > td {
  @apply py-4 whitespace-nowrap;
}

select,
.cs-select,
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='date'] {
  background: #fff;
  color: #2b384c;
  border: 1px solid #a5abbd;
  @apply outline-none;
}

.cs-select {
  display: block;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  padding: 0;
}
.cs-select::after {
  content: '';
  display: inline-block;
  background: url(/actions/arrow-down.svg) no-repeat #fff;
  background-position: left 0 top 50%;
  border-radius: 4px;
  position: absolute;
  top: calc(50% - 12px);
  right: 0px;
  width: 30px;
  height: 24px;
  z-index: 0;
}
.cs-select > select {
  width: calc(100% - 35px);
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 16px;
  padding-right: 35px;
  line-height: 1;
  background: transparent;
  border-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  box-sizing: content-box;
  position: relative;
  z-index: 1;
}
.cs-select > select:focus {
  border-color: transparent;
  background-color: transparent;
  outline: none !important;
}

.btn {
  padding: 13.5px 36px;
  @apply font-medium;
}

.btn:hover,
.btn:focus {
  outline: none;
}

.btn.btn-primary {
  @apply text-white bg-blue-600 border border-blue-600;
}

.btn.btn-primary-outline {
  padding: 12.5px 36px;
  @apply text-blue-500 bg-transparent border border-blue-500;
}

.btn.btn-danger-outline {
  padding: 12.5px 36px;
  @apply text-red-500 bg-transparent border border-red-500;
}

.btn.btn-primary.shadow {
  box-shadow: 0px 10px 36px rgba(249, 158, 66, 0.42);
}

.btn.btn-light {
  @apply text-black bg-gray-300;
}

.btn.btn-sm {
  padding: 8.5px 25px;
  @apply text-sm font-semibold;
}

.btn-loading {
  position: relative;
  pointer-events: none;
  color: transparent !important;
}

.btn-loading:after {
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 50%;
  border-right-color: transparent;
  border-top-color: transparent;
  content: '';
  display: block;
  height: 1em;
  width: 1em;
  position: absolute;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.view-more {
  display: inline-block;
  background: url('/actions/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: right 0 top 1px;
  padding: 0 20px 0 0;
  @apply text-xs;
}
.view-more.light {
  background-image: url('/actions/arrow-right-light.svg');
}

.shadow-orange,
.shadow-hover:hover {
  box-shadow: 0 10px 36px rgba(249, 158, 66, 0.16);
}

span.is-invalid,
.form-control ~ .error-message,
.cs-select ~ .error-message {
  font-size: 12px;
  color: #f51d00;
}

.cs-select.is-invalid {
  border-color: #ff4136;
}

.form-input.is-invalid.is-changed,
.form-input.is-invalid.is-validated,
.was-validated .form-input:invalid {
  border-color: #ff4136;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23ff4136'%3E%3Ccircle cx='6' cy='6' r='4.5'/%3E%3Cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3E%3Ccircle cx='6' cy='8.2' r='.6' fill='%23ff4136' stroke='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-input.is-invalid.no-icon {
  background-image: none;
}

.swal2-confirm {
  min-width: 150px !important;
  border-radius: 8px !important;
  background-color: #ff4136 !important;
}
.swal2-confirm:hover {
  background-color: #ff4136 !important;
}

.swal2-popup {
  padding-bottom: 1.82em !important;
}

.swal2-content {
  font-size: 14px !important;
  line-height: 22px !important;
  color: #545454 !important;
}

.swal2-title {
  font-size: 24px !important;
  line-height: 30px !important;
  color: #000000 !important;
  margin-bottom: 20px !important;
}

.swal2-actions {
  align-items: flex-end !important;
  justify-content: flex-end !important;
  padding: 0 0.5em !important;
  margin-top: 1.8em !important;
}

.swal2-actions > .swal2-loader {
  margin-left: auto !important;
  margin-right: auto !important;
  border-color: transparent #eb4751 transparent;
}

/** Custom webkit scrollbar */

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollbar-track-orange-lighter::-webkit-scrollbar-track {
  --bg-opacity: 1;

  background-color: #f7f8f7;
  background-color: rgba(241, 243, 242, var(--bg-opacity));
}

.scrollbar-thumb-orange::-webkit-scrollbar-thumb {
  --bg-opacity: 1;

  background-color: #ffd5aa;
  background-color: rgba(255, 213, 170, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}

/* Custom checkbox style */

label.checkbox {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  line-height: 16.5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

label.checkbox span.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: #e0e0e0;
}

label.checkbox:hover input ~ span.checkmark {
  background-color: #e0e0e0;
}

label.checkbox input:checked ~ span.checkmark {
  background-color: #f99e42;
}

label.checkbox span.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

label.checkbox input:checked ~ span.checkmark:after {
  display: block;
}

label.checkbox span.checkmark:after {
  left: 5px;
  top: 2.5px;
  width: 6px;
  height: 8px;
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.social-icons,
.social-icons > li {
  display: inline-flex;
  height: 20px;
  margin-left: 10px;
}
.social-icons > li > a {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: 50%;
}
.social-icons > li.twitter > a {
  background-image: url('/icon/social/twitter.svg');
}
.social-icons > li.share > a {
  background-image: url('/icon/social/share.svg');
}

/** List status */
.item-status {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #ecebe8;
  background-repeat: no-repeat;
  background-position: top 5px left 3px;
}
.item-status.active {
  background-color: rgba(57, 225, 74, 0.16);
  background-image: url('/icon/tick-active.svg');
}

/* Form input */

.form-group {
}

.form-group label {
  @apply text-gray-600 mb-2;
  @apply block text-sm leading-5 font-medium;
}

.form-input {
  background: #fff;
  color: #2b384c;
  border: 1px solid #a5abbd;
  box-sizing: border-box;
  border-radius: 0;
  padding: 10px 16px;
  width: 100%;
  @apply outline-none;
}

.form-group.hang-label > label {
  position: absolute;
  font-size: 12px;
  margin-top: 8px;
  margin-left: 16px;
  color: #a5abbd;
  z-index: 1;
}

.form-group.hang-label .form-input {
  padding: 24px 16px 5px 16px;
}

@media (min-width: 640px) {
  /* sm: 640px */
  .max-h-content-screen {
    max-height: calc(100vh - 170px);
  }
}

@media (min-width: 768px) {
  /* md: 768px */
  h1 {
    @apply text-4xl;
  } /* 48px */
  h2 {
    @apply text-4xl;
  } /* 36px */
  h3 {
    @apply text-3xl;
  } /* 30px */
  h4 {
    @apply text-2xl;
  } /* 24px */
  h5 {
    @apply text-xl;
  } /* 20px */
  h6 {
    @apply text-lg;
  } /* 18px */
  .view-more {
    background-position: right 0 top 3px;
    @apply text-sm;
  }
}

@media (min-width: 1024px) {
  /* lg: 1024px */
  h1 {
    @apply text-5xl;
  } /* 48px */
  h2 {
    @apply text-4xl;
  } /* 36px */
  h3 {
    @apply text-3xl;
  } /* 30px */
  h4 {
    @apply text-2xl;
  } /* 24px */
  h5 {
    @apply text-xl;
  } /* 20px */
  h6 {
    @apply text-lg;
  } /* 18px */
}

@media (min-width: 1280px) {
  /* xl: 1280px */
  h1 {
    @apply text-5xl;
  } /* 48px */
  h2 {
    @apply text-4xl;
  } /* 36px */
  h3 {
    @apply text-3xl;
  } /* 30px */
  h4 {
    @apply text-2xl;
  } /* 24px */
  h5 {
    @apply text-xl;
  } /* 20px */
  h6 {
    @apply text-lg;
  } /* 18px */
}

.status {
  @apply px-2 inline-flex text-xs leading-5 font-semibold rounded-full border-blue-200 bg-blue-200 text-blue-600;
}

.status.success {
  @apply bg-green-100 border-green-200 text-green-600;
}

.status.warning {
  @apply bg-yellow-100 border-yellow-200 text-yellow-600;
}

.status.danger {
  @apply bg-red-100 border-red-200 text-red-600;
}

.tag.pill {
  @apply text-sm border border-gray-400 rounded-full px-3 py-1;
}
